%h1= @pin.name
%p= @pin.description
%p Submitted_by 
= @pin.user.email
= link_to 'Back', root_path
= link_to 'Edit', edit_pin_path
= link_to 'Delete', pin_path, method: :delete, data: {confirm: "Are you sure?"}